<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='/css/reg_login.css') }}" >
    <title>Document</title>
</head>
<body>
    <div id="cust_form">
        <form action="/send_customer" method="post" id="reg-form">
            <div id="title">
                <img src="/static/img/HP_Black_RGB_150_SM.png" alt="HP-logo">
                <h2>Add Customer</h2>
            </div>

            {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                <div id="flashbox"> 
                <p id="flash_message">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                </div>   
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div id="form_input">
                <div>
                    <label for="customer_name">Customer Name:</label>D
                    <input type="text" name="customer_name" required>
                </div>
                <div>
                    <label for="address">Address:</label>
                    <textarea id="address_input" type="text" name="address"></textarea>
                </div>
                <div>
                    <label for="contact_name">Contact Name:</label>
                    <input type="text" name="contact_name">
                </div>
                <div>
                    <label for="contact_email">Contact Email:</label>
                    <input type="text" name="contact_email">
                </div>
                <div>
                    <label for="contact_phone">Contact Phone:</label>
                    <input type="text" name="contact_phone">
                </div>
            </div>
                <div id="button">
                    <input type="submit" value="Send Customer" id="input_button">
                </div>
        </form>
    </div>
</body>
</html>