<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static' , filename='/css/index.css') }}" >
    <title>Document</title>
</head>
<body>
    <header>
        <div id="header_details">
            <div id="title">
            <img src="/static/img/HP_White_RGB_150_MD.png" alt="HP-logo">
            <h1>Service Reporting</h1>
            </div>
            <div id="reg_log_buttons">
                <li id="login_button"><a href="/login_page">Sign In</a></li></li>
                <li id="join_button"><a href="/register_page">&nbsp Join &nbsp</a></li></li>
            </div>
        </div>
    </header>
    <section>
        <img id="stock-img" src="/static/img/HP-5210.jpg" alt="HP-stock-img">
        <img id="printer_open_img" src="/static/img/HP_printing_desktop.jpg" alt="printer_open">
        <img id="engineer_img" src="/static/img/HP_Training_engineers.jpg" alt="engineer">
        <img id="hpq_img" src="/static/img/Biocompatibility_Desktop.jpg" alt="product_2">
        <img id="polymer_img" src="/static/img/3D-printing-polymer_Desktop.jpg" alt="product_1">
    </section>
    
</body>
</html>